#suggested-friend-card {
  display: flex;
  width: 100%;
  min-width: 250px;
  height: 60px;
  background-color: #121212;
  box-shadow: 0px 2px 0px #1db954;
  border-radius: 5px;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

#suggested-friend-card button {
  font-weight: 600;
  padding: 5px 8px 5px 8px;
  font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#suggested-friend-card button.following {
  background-color: rgb(117, 5, 158);
  border-color: rgb(117, 5, 158);
  border-radius: 2px;
  width: 100px;
}


#suggested-friend-card button.following span {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#suggested-friend-card button.following:hover span{
  opacity: 0;
}

#suggested-friend-card button:hover {
  background-color: #1db954;
  border-color: #1db954;
  border-radius: 2px;
}

#suggested-friend-card button.following:hover {
  background-color: #cb1b26;
  border-color: #cb1b26;
  border-radius: 2px;
}

#suggested-friend-card button.following:before,#suggested-friend-card button.following:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
}

#suggested-friend-card button.following::before {
  content: 'UNFOLLOW';
}

#suggested-friend-card button.following:hover:before {
  opacity: 1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#suggested-friend-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

#suggested-friend-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #b761bc;
  padding: 0;
  margin: 0;
}

#suggested-friend-name {
  padding: 0;
  margin: 0;
}