#footer{
  display: flex;
  width: 100%;
  background-color: rgb(75, 75, 75);
}

#footer-container{
  border-top: 1px solid rgb(29,185,84);
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1.1fr 1fr 1fr;
}

#logo{
  width: 50px;
  align-self: center;
  position: relative;
  top: 60px;
  left: 100px;
}

#company-name {
  position: relative;
  top: -37px;
  left: 73px;
}

li, #column03 > p{
  font-size: 0.7rem;
}

.text-footer{
  color: rgb(179,179,179);
}

