.skills, .suggestedFriend {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul, .suggestedFriend ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li, .suggestedFriend ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

.profile-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}