#principal {
  display: flex;
}

.about-container {
  background-color: rgb(109, 109, 109);
  height: 70vh;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 80vw;
}

.about-container h1 {
  display: inline;
}

.about-content {
  border: solid 2px red;
  width: 66%;
  padding: 20px;
}

.elemento{
  border: 1px solid wheat;
  width: 100px;
  height: 200px;
}