#principal {
  display: flex;
  flex-direction: column;
}

#aboutus {
}

#meet{

}



.about-container {
  background-color: rgb(128, 128, 128);
  height: 70vh;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 80vw;
}

.about-container h1 {
  display: inline;
}

.about-content {
  border: solid 2px red;
  width: 66%;
  padding: 20px;
}

.elemento{
  border: 0px solid wheat;
}
.elemento > div > img {
  width: 10rem;
}

h6{
  color:rgb(15, 0, 99)
}

.puesto{
  font-size: 0.8rem;
  color:rgb(15, 0, 99)

}
h6, .puesto{
  padding-left: 0.5rem;
}