


#loginpage {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
}

#login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 5px;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#checkbox-container {
  display: flex;
  align-items: center;
}

#terms-p{
  font-size: 0.7rem;
}

#terms {
  cursor: pointer;
}

#primera, #cuarta{
  border: rgb(160, 160, 160) solid 1px;
  height: 150px;
  border-radius: 20px;
  padding: 20px;
  max-width: 30vw;
}
#primera {
  display: flex;
  margin-bottom: 10px;;
}

#primera > div > img {
  width: 150px;
}

#segunda, .segunda{
  display: flex;
  margin: 10px
}
.segunda{
  flex-direction: column;
  align-items: center;
}

#segunda > div > div > img {
  width: 250px;
}

#tercera > div > div > img{
  width: 150px;
}

.segunda, .tercera {
  border: rgb(160, 160, 160) solid 1px;
  border-radius: 20px;
  width: 400px;
  max-width: 300px;
  min-height: 100px;
  padding: 10px
}

#tercera{
  display: flex;
}
.tercera{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tercera {
  width: 450px;
  max-width: 350px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#cuarta {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 20px;
}

#cuarta > div > button{
  height: 50px;
  width: 120px;
  margin-top: 10px;
}

#auth {
  border: rgb(160, 160, 160) solid 1px;
  border-radius: 20px;
  height: 100px;
  width: 200px;
  text-align: center;
  align-content: center;
}