textarea{
  width: 95%;
  max-width: 95%;
  min-width: 95%;
  min-height: 80px;
  max-height: 150px;
  height: fit-content;
  color: white;
  background-color: #3b3b3b;
  font-size: 1.2rem;
}
#submit-button {
  cursor: pointer;
  color: white;
  background-color: #1db954;
  border: none;
  border-radius: 2px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 600;
  font-family: monospace;
}
#comment-section-form {
  width: 100%;
}