#homepage {
  width: 90vw;
  min-height: 65vh;
  display: flex;
  justify-content: space-around;
}

h1 {
  display: inline;
}

#content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 600px;
  min-width: 400px;
  padding-top: 15px;
}

#content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 450px;
  max-width: 780px;
  padding-top: 27px;
}

#content-right {
  width: 25%;
  height: 600px;
  min-width: 200px;
}

#loading-image {
  width: 150px;
  height: 150px;
}

.stick-element {
  position: sticky;
  top: 70px;
}